*{margin:0; padding:0; list-style-type:none; text-decoration:none;}
html{width: 100%;font-size: 62.5%;font-family:"Helvetica Neue", Helvetica, "Microsoft Yahei", Arial, sans-serif; background: rgba(1,111,65,1);}
body{text-align: center;background: url(images/bg.jpg); margin-top: 0.4rem;}
.guide{display: inline-block;margin: 2rem 0;width: 100rem; padding: 1rem 0;}
.logo img{float: left;margin-right: 5rem;}
.bar li{float: left;margin: 1.5rem 0 0 3rem;font-size:2.5rem;}
.bar a:link{color: rgba(0,0,0,1);}
.bar a:hover{text-decoration: underline;}
.bar a:visited{color: rgba(0,0,0,1);}
.lang{margin-top: 1.5rem;font-size:1.9rem;border: 0.1rem solid;padding: 0.3rem;float: right;}
.lang span{color: rgba(255,255,255,1);background:rgba(0,0,0,1);}
.lang a:link{color: rgba(0,0,0,1);}
.lang a:hover{color: rgba(255,255,255,1);background:rgba(0,0,0,1);}
.pic{width: 100%;}
.pic img{width: 100%;}
.t{font-size:3rem;font-weight: bold;color: rgba(0,0,0,1);margin-top: 3rem;width: 100rem;display: inline-block;border-bottom: 0.1rem solid;}
.bar2{width: 100rem;display: inline-block;margin-top: 2rem;}
.bar2 li{width: 18rem; padding: 0.5rem 0; margin-left: 1.3rem; float: left;font-size:2.5rem;color: rgba(0,154,90,1.00);text-align: center;border:0.1rem dashed rgba(0,154,90,1.00);border-radius: 0.5rem;}
.bar2 li:hover{color: rgba(255,255,255,1.00);background-color: rgba(0,154,90,1.00);}
.box{width: 100rem;display: inline-block;margin-top: 2rem;}
.box li{width: 23.6rem;margin:0 1rem 1rem 0;padding: 0.2rem; float: left;overflow: hidden;font-size:2rem;color: rgba(0,0,0,1.00);background-color: rgba(0,0,0,0.2);}
.box li:hover{color: rgba(255,255,255,1.00);background-color: rgba(0,154,90,1.00);}
.box img{width: 100%;}
.bg{width: 100%;background:rgba(0,0,0,0.6);margin-top: 1rem;}
.pnt{width: 98rem;display: inline-block;padding: 1rem; margin: 1rem auto;background-color: rgba(255,255,255,1);}
.pnt li{width: 46rem;float: left;overflow: hidden;margin-left: 2rem;}
.pnt img{width: 48rem;float: left;}
.pnt p{font-size:2rem;text-align: left;line-height: 2.5rem;margin-top: 1rem;}
.pnt span{font-size:2.2rem;font-weight: bold;}
.box2{width: 100rem;display: inline-block;margin-top: 2rem;overflow: hidden;}
.box2 img{width: 32.1rem;margin:0.5rem; float: left;}
.bg2{width: 100%;background:url(images/end_1280.jpg);margin-top: 3rem;}
.bg3{width: 100%;background:rgba(0,0,0,0.85);}
.end{width: 100rem;display: inline-block;margin: 3rem 0;}
.end li{width: 50rem; float: left;text-align: left;}
.end p{font-size:1.8rem;margin-top: 1rem;color: rgba(255,255,255,1.00);}
.end span{font-size:2rem;font-weight: bold;border-bottom: rgba(0,154,90,1.00) 0.2rem solid;}
.end a:link{color: rgba(255,255,255,1);}
.end a:hover{text-decoration: underline;}
.end a:visited{color: rgba(255,255,255,1);}
.end2{width: 49.9rem; float: left;text-align: right;border-left: rgba(255,255,255,0.5) 0.1rem solid;}
.t2{margin-top: 5rem;text-align: center;display: inline-block;}
.ct{width: 94rem;display: inline-block;padding: 3rem; margin: 3rem 0;background: rgba(255,255,255,0.8);text-align: center;border: 0.2rem solid;}
.ct p{font-size:2.5rem;}
.ct span{font-size:3rem;font-weight: bold;}
.ct li{color: rgba(0,154,90,1.00);font-size:2.2rem;font-weight: bold;text-decoration: underline;}
.ct img{width:100%;margin-top: 3rem;}
.pic2 img{margin-top: 2rem;display: inline-block;border:rgba(0,0,0,1) 0.1rem solid; }