*{margin:0; padding:0; list-style-type:none; text-decoration:none;}
html{width: 100%;font-size: 62.5%;font-family:"Helvetica Neue", Helvetica, "Microsoft Yahei", Arial, sans-serif;}
body{text-align: center;background: url(images/bg.jpg);}
.guide{margin: 3rem 1%;width: 98%;}
.logo img{display: inline-block;height: 6rem;}
.bar{display: inline-block;}
.bar li{float: left;margin: 3rem 0 0 3rem;font-size:3rem;}
.lang{display: none;}
.pic{width: 100%;}
.pic img{width: 100%;}
.t{font-size:2.5rem;font-weight: bold;color: rgba(0,0,0,1);margin: 3rem 0 0 1%;width: 98%;display: inline-block;border-bottom: 0.1rem solid;}
.bar2{width: 98%;display: inline-block; margin-top: 2rem;}
.bar2 li{width: 18rem; padding: 0.5rem 0; margin: 1rem; float: left;font-size:2.5rem;color: rgba(0,154,90,1.00);text-align: center;border:0.1rem dashed rgba(0,154,90,1.00);border-radius: 0.5rem;}
.bar2 li:hover{color: rgba(255,255,255,1.00);background-color: rgba(0,154,90,1.00);}
.box{width: 98%;display: inline-block;margin: 2rem 0 0 1%;}
.box li{width: 29rem;margin:0 1rem 1rem 0;padding: 0.2rem; float: left;overflow: hidden;font-size:2rem;color: rgba(0,0,0,1.00);background-color: rgba(0,0,0,0.2);}
.box li:hover{color: rgba(255,255,255,1.00);background-color: rgba(0,154,90,1.00);}
.box img{width: 100%;}
.bg{width: 100%;background:rgba(0,0,0,0.7);margin-top: 3rem;}
.pnt{width: 98%;display: inline-block;margin: 1%; overflow: hidden;background-color: rgba(255,255,255,1);}
.pnt li{width: 98%;float: left;margin: 1%;}
.pnt img{width: 98%;float: left;margin: 1%;}
.pnt p{font-size:2.5rem;text-align: left;line-height: 2.5rem;margin-top: 1rem;}
.pnt span{font-weight: bold;}
.box2{width: 98%;display: inline-block;margin:1%;overflow: hidden;}
.box2 img{width: 90%;margin:1%;}
.bg2{width: 100%;background:url(images/end.jpg);margin-top: 3rem;}
.bg3{width: 100%;background:rgba(0,0,0,0.85);}
.end{width: 98%;display: inline-block;margin: 1%;}
.end li{width: 98%; display: inline-block;margin: 1%;}
.end p{font-size:2.3rem;line-height: 3rem; margin-top: 1rem;color: rgba(255,255,255,1.00);}
.end span{font-size:2.5rem;font-weight: bold;border-bottom: rgba(0,154,90,1.00) 0.2rem solid;}
.end a:link{color: rgba(255,255,255,1);}
.end a:hover{text-decoration: underline;}
.end a:visited{color: rgba(255,255,255,1);}
.end2{display: none;}
.t2{margin-top: 5%;text-align: center;display: inline-block;}
.ct{width: 98%; display: inline-block;margin: 1%;background: rgba(255,255,255,0.8);text-align: center;border: 0.2rem solid;}
.ct p{font-size:2.5rem;}
.ct span{font-size:3rem;font-weight: bold;}
.ct li{color: rgba(0,154,90,1.00);font-size:2.2rem;font-weight: bold;text-decoration: underline;}
.ct img{width: 98%; display: inline-block;margin:3% 1% 1% 1%;}
.pic2 img{width:98%;margin: 1% 0 0 1%;display: inline-block;border:rgba(0,0,0,1) 0.1rem solid; }