@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0; list-style-type:none; text-decoration:none;}
html{width: 100%;background:rgba(255,255,255,1);}
body{font:normal 200% Arial,Helvetica,sans-serif;color: rgba(0,0,0,1.00);text-align: center;line-height: 200%;}
P{margin-top: 20%;}